# MQTT Configuration
MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_ELECTRICAL=scgdi/motor/electrical
MQTT_TOPIC_VIBRATION=scgdi/motor/vibration
MQTT_TOPIC_ENVIRONMENT=scgdi/motor/environment

# OPC UA Configuration
OPCUA_ENDPOINT=opc.tcp://localhost:4840/freeopcua/server/
OPCUA_SERVER_NAME=Motor50CV_OPCUA
OPCUA_APPLICATION_URI=urn:motor50cv:digitaltwin
OPCUA_MANUFACTURER_NAME=OPCUA
OPCUA_PRODUCT_NAME=Motor50CV_Digital_Twin

# MongoDB Configuration
MONGODB_HOST=
MONGODB_URI="mongodb+srv://<user>:<password>@motor50cvhistory.qf8f6v1.mongodb.net/<database>?retryWrites=true&w=majority"
MONGODB_PORT=27017
MONGODB_DATABASE=motor50cv_history

# LDS Discovery
LDS_ENDPOINT=opc.tcp://localhost:4840/UADiscovery

# Docker specific
PYTHONPATH=/app
PYTHONUNBUFFERED=1
